<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <h2>You are a newbie!.</h2>
    <link rel "stylesheet" type = "text/css" 
    <p>You are a newbie to environmental knowledge. You do not know much about our effects on the environment. That's ok we all start somewhere! Get involved in your environment to help better the world! Improve in your skills by following these 3 simple steps!
    
    
    </p>
    
      <ol>
       <li> Start using a reusable waterbottle and lunchbag!
       <li> Always carpool if it's available.
       <li> Reduce your food waste and SPREAD the word. 
        
      </ol>
    </>
    <p>
      Check out the resources page for more information and tips!
      
    </p>
    
    
    
  </head>
  <body>
  
  </body>
</html>
    
    
    
